body{
    background-color: white;
    margin: 10;
   
    font-family:'Ubuntu', sans-serif; 
    
   
}



h1{
    font-family: 'redressed',cursive;
    color: #f2ab40; 
    font-size: 150;
    margin: 10px;
}

h2{
    font-family: 'redressed',cursive;
    color: #32533d;
    font-size: 48;
}

p{ 
    
    font-size: 20;
}
img{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    place-content: center;
    
    
    
    
}

.header{ 
    width: 80%;
    text-align: center;
    position: relative;
   margin-left: auto;
    margin-right: auto;
    background-color: rgba(102,122,115,.6) ;
    padding: 10;
    margin-top: 20;
    
    
     
 
}

.container{ 
   display: inline-block;
    position: relative;
}

.directions{
    float: right;
    width: 50%;
    font-size: 20;
    background-color: rgba(102,122,115,.6);
    
    padding-top: 1%;
    padding-bottom: 160;
    position: relative;
    padding-right: 10;
    padding-left: 10;
    margin-right:17%;
    margin-bottom: 5%;
}

.ingredients{
    margin-left: 9%;
    padding-left: 10;
    padding-top: 1%;
    padding-bottom: 15;
    font-size: 26;
    background-color: rgba(102,122,115,.6);
    width: 20%;
    float: left;
    position: relative;
    margin-right: 1%;
}
.all{
   background-color: #9aa0a8;
   position: absolute;
   width: 99%;

}

@media only screen and (max-width: 1868px) {
    .directions{
        font-size: 22;
        padding-bottom: 100;
        margin-right: 10%;    
            
    }
    .ingredients{
        font-size: 18;
        padding-bottom: 200;
        padding-right: 10;
    }
    h2{
        font-size: 38;
    }
}
 
@media only screen and (max-width: 1022px) {
    .ingredients{
        float: none;
        width: 80%;
        font-size: 26;
        list-style-position: inside;
        padding-bottom: 10;
    }
    .directions{
        float: none;
        width: 80%;
        margin-left: 9%;
        margin-top: 10;
        list-style-position: inside;
        font-size: 22;
        
    }
}

a:link {
  color: #f2ab40;
}

a:visited {
    color: #32533d;
}

.ingredients:hover{
    background-color:#f2ab40; 
}

.directions:hover{
    background-color:#f2ab40; 
}

.header:hover{
    
    background-color:#f2ab40; 
}

h1:hover{
    color: #32533d;
}